<h4 class="border-orange pb-2 mb-5 center">新規登録</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
    <div class="input-field col s12 l6">
      <%= f.label :nick_name %>
      <%= f.text_field :nick_name, autofocus: true, autocomplete: "nick_name", placeholder: "Nickname" %>
    </div>
    <div class="input-field col s12 l6">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 l6">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Password", data: {length: "30"}, id: "pass" %>
      <span class="helper-text" data-error="30文字以内で入力してください。">
        6文字以上の入力をお願いします。
      </span>
    </div>
    <div class="input-field col s12 l6">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", data: {length: "30"}, id: "pass_conf" %>
      <span class="helper-text" data-error="30文字以内で入力してください。"></span>
    </div>
  </div>
  <div class="row">
    <div class="actions">
      <%= f.submit "登録", class: "col s12 l12 btn-large mt-4 z-depth-0" %>
    </div>
  </div>
<% end %>
