<h3>グループメンバー追加</h3>

<div class="row">

  <div class="group">
    <%= attachment_image_tag @group, :group_image, :fill, 80, 80, fallback: "no_group_image.jpg", size:'80x80' %>
    <%= @group.name %>
  </div>

  下から追加したユーザーを表示
  <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %>
  <%= current_user.nick_name %>
</div>

<div class="row">
  <% @users.each do |user| %>
    <p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>
          <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %>
          <%= user.nick_name %>
        </span>
      </label>
    </p>

  <% end %>
</div>
