<!-- 投稿フォーム -->
<div class="modal-content">
  <%= form_with model: comment, url:{controller: 'comments', action: 'create'} do |f| %>

    <div class="radio-inline">
      <label>
        <%= f.radio_button :place_status, :keep, checked: "checked", class: "with-gap"%>
        <span><%= f.label :Keep %></span>
      </label>
    </div>

    <div class="radio-inline">
      <label>
        <%= f.radio_button :place_status, :problem, class: "with-gap" %>
        <span><%= f.label :problem %></span>
      </label>
    </div>

    <div class="radio-inline">
      <label>
        <%= f.radio_button :place_status, :try, class: "with-gap" %>
        <span><%= f.label :Try %></span>
      </label>
    </div>

    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :comment, placeholder: "投稿内容を入力" %>
    </div>
    <div class="actions">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :group_id, :value => group.id %>
      <%= f.submit "投稿する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
