
<div class="modal-content">
  <!-- エラーメッセージ -->
  <!-- render 'devise/shared/error_messages', resource: @comment_new -->
  <!-- エラーメッセージ -->
  <%= form_with model: @comment_new do |f| %>

    <div class="radio-inline">
      <label>
        <%= f.radio_button :place_status, :k, checked: "checked", class: "with-gap"%>
        <span><%= f.label :K %></span>
      </label>
    </div>

    <div class="radio-inline">
      <label>
        <%= f.radio_button :place_status, :p, class: "with-gap" %>
        <span><%= f.label :P %></span>
      </label>
    </div>

    <div class="radio-inline">
      <label>
        <%= f.radio_button :place_status, :t, class: "with-gap" %>
        <span><%= f.label :T %></span>
      </label>
    </div>

    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :comment, placeholder: "投稿内容を入力" %>
    </div>
    <div class="actions">
      <%= f.submit "投稿する", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>
