<div class="col s12 kpt_comments item" name="<%= comment.id %>" data-count="<%= comment.rights.count %>">
  <div class="card z-depth-0">
    <div class="card-content">
      <h6 class="line-height"><%= comment.comment %></h6>
    </div>
    <div class="card-action d-flex">
      <%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, fallback: "no_group_image.jpg", size:'50x50' %>
      <p class="ml-1 mr-2 grey-text f-warp"><%= comment.user.nick_name %></p>
      <!-- それなボタン -->
      <span class="mt-1" id="rights_buttons_<%= comment.id %>">
        <%= render 'rights/button', comment: comment %>
      </span>
      <!-- 編集ボタン -->
      <%= link_to edit_group_comment_path(group_id: comment.group_id, comment_id: comment.id), remote: true, class: "mt-1 mr-1 ml-2 btn blue-grey lighten-3 z-depth-0" do %>
        <i class="material-icons">settings</i>
      <% end %>
      <!-- 削除ボタン -->
      <%= link_to group_comment_path(group_id: comment.group_id, comment_id: comment.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "mt-1 btn blue-grey lighten-3 z-depth-0" do %>
        <i class="material-icons">delete_forever</i>
      <% end %>
    </div>
  </div>
</div>
