
<div class="comments_left">
<!-- keep投稿内容　-->
  <div class="comments">
    <span>Keep</span>
      <% keep_comments.each do |comment| %>
        <div class="col s4 kpt_comments">
          <%= attachment_image_tag comment.user, :profile_image, :fill, 80, 80, fallback: "no_group_image.jpg", size:'80x80' %>
          <%= comment.user.nick_name %>
          <%= comment.comment %>
          <span id="rights_buttons_<%= comment.id %>">
            <%= render 'rights/button', comment: comment %>
          </span>
          <%= link_to group_comment_path(group_id: comment.group_id, id: comment.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn  blue-grey lighten-3 z-depth-0" do %>
            <i class="material-icons">delete_forever</i>
          <% end %>
        </div>
      <% end %>
  </div>
  <!-- probrem投稿内容　-->
  <div class="comments p_comments">
    <span>Probrem</span>
    <% probrem_comments.each do |comment| %>
      <div class="col s4 kpt_comments">
        <%= attachment_image_tag comment.user, :profile_image, :fill, 80, 80, fallback: "no_group_image.jpg", size:'80x80' %>
        <%= comment.user.nick_name %>
        <%= comment.comment %>
        <span id="rights_buttons_<%= comment.id %>">
          <%= render 'rights/button', comment: comment %>
        </span>
        <%= link_to group_comment_path(group_id: comment.group_id, id: comment.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn  blue-grey lighten-3 z-depth-0" do %>
          <i class="material-icons">delete_forever</i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- try投稿内容　-->
<div class="comments_right comments">
  <span>Try</span>
  <% try_comments.each do |comment| %>
    <div class="col s4 kpt_comments">
      <%= attachment_image_tag comment.user, :profile_image, :fill, 80, 80, fallback: "no_group_image.jpg", size:'80x80' %>
        <%= comment.user.nick_name %>
      <%= comment.comment %>
      <span id="rights_buttons_<%= comment.id %>">
        <%= render 'rights/button', comment: comment %>
      </span>
      <%= link_to group_comment_path(group_id: comment.group_id, id: comment.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn  blue-grey lighten-3 z-depth-0" do %>
        <i class="material-icons">delete_forever</i>
      <% end %>
    </div>
  <% end %>
</div>
