
<div class="row">
  <div class="group_icon">
    <%= link_to group_path(@group) do %>
      <h6><%= @group.name %>のKPTルーム</h6>
      <%= attachment_image_tag @group, :group_image, :fill, 350, 350, fallback: "no_group_image.jpg", size:'350x350', class: "comment_index_group_image" %>
    <% end %>
  </div>
</div>

<div class="row">
  <h6>参加メンバー</h6>
  <div class="group_users">
    <% @group_users.each do |group_user| %>
      <div class="col s2 center">
        <%= attachment_image_tag group_user.user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg", size:'80x80' %><br>
        <%= group_user.user.nick_name %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="kpt_actions">
    <!-- remte: trueでjsファイルを探しにいく-->
    <%= link_to "KPTを投稿する", new_group_comment_path, remote: true, class: "btn btn-large" %>
  </div>
</div>

<div id="comment-modal" class="modal"></div><!-- ここに_formが入る -->

<div id="comment_box">
  <%= render 'tr', keep_comments: @keep_comments, probrem_comments: @probrem_comments, try_comments: @try_comments %><!-- ここにcreate.jsが上書き -->
</div>
