<h3>KPTコメント一覧</h3>

<div class="row">
  <%= attachment_image_tag @group, :group_image, :fill, 100, 100, fallback: "no_group_image.jpg", size:'100x100' %>
  <%= @group.name %>

  <div class="group_users">
    <p>グループ参加メンバー</p>
    <% @group_users.each do |group_user| %>
      <%= attachment_image_tag group_user.user, :profile_image, :fill, 50, 50, fallback: "no_group_image.jpg", size:'50x50' %>
      <%= group_user.user.nick_name %>
    <% end %>
  </div>
  <!-- remte: trueでjsファイルを探しにいく-->
  <div class="actions">
    <%= link_to "KPTを投稿する", new_group_comment_path, remote: true, class: "btn btn-lg btn-primary" %>
    <div id="comment-modal" class="modal"></div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <% @comments.each do | comment | %>
      <%= attachment_image_tag comment.user, :profile_image, :fill, 80, 80, fallback: "no_group_image.jpg", size:'80x80' %>
      <%= comment.user.nick_name %>
      <%= comment.comment %>
    <% end %>
  </div>

  <div class="col s6">

  </div>
</div>
