<% @page_title = "#{@group.name}のKPT" %>
<div class="row">
<!-- グループのプロフィール -->
  <div class="col s6 l3">
    <%= render 'groups/group_profile', group: @group, join_users: @join_users, invit_users: @invit_users %>
  </div>
  <div class="col s6 l9">
    <div class="card-panel">
      <span>チャートjsを導入予定です。</span>
    </div>
  </div>
</div>

<!-- KPT投稿フォーム -->
<div class="row mb-5">
  <div class="kpt_actions">
    <!-- remte: trueでjsファイルを探しにいく-->
    <%= link_to "KPTを投稿する", new_group_comment_path, remote: true, class: "btn-large z-depth-0 col s12 l12 center" %>
  </div>
</div>
<div id="comment-modal" class="modal">
  <!-- ここに_formが入る -->
</div>

<!-- KPT内容 -->
<div id="comment_box" class="d-flex">
  <!-- ここにcreate.jsが上書き -->
  <%= render 'kpt_list', keep_comments: @keep_comment_ranking, problem_comments: @problem_comment_ranking, try_comments: @try_comment_ranking %>
</div>
<div style="display: none;">
  <%= form_with model: @comment_new, url: place_status_update_path, id: "status_update_form" do |f| %>
    <%= f.text_field :group_id, value: @group.id %>
    <%= f.text_field :id, id: "update_comment_id" %> <!-- comment.idが入る、idを設定 -->
    <%= f.text_field :place_status, id: "update_place_status" %><!-- place_statusが入る -->
  <% end %>
</div>
