<!-- グループのプロフィールページ -->
<div class="col s12 m3">
  <div class="card z-depth-0">
    <div class="card-image">
      <%= attachment_image_tag group, :group_image, fallback: "no_group_image.jpg" %>
    </div>
    <div class="card-content center">
      <span class="card-title">
        <%= group.name %>
      </span>
    </div>
    <div class="card-action center">
      <p>
        <i class="material-icons">sms_failed</i>
        参加メンバー<%= @group_users.count %>人
      </p>
    </div>
    <div class="card-action center">
      <p>
        <i class="material-icons">sms</i>
        招待メンバー<%= @inviting_users.count %>人
      </p>
    </div>
<!-- グループ所属ユーザーのみ表示　-->
    <div class="card-action center">
      <i class="material-icons">web</i>
      <%= link_to "#{group.name}のKPT",  group_comments_path(group)  %>
    </div>
    <div class="card-action center">
      <i class="material-icons">people</i>
      <%= link_to "お仲間招待", new_group_group_users_path(group) %>
    </div>
    <div class="card-action center">
      <i class="material-icons">build</i>
      <%= link_to "グループ編集", edit_group_path(group) %>
    </div>
    <div class="card-action center">
      <i class="material-icons">exit_to_app</i>
      <%= link_to "グループ退会", group_group_users_path(group), method: :delete, data: {confirm: "本当に#{group.name}から退会しますか？"} %>
    </div>
    <div class="card-action center">
      <i class="material-icons">delete</i>
      <%= link_to "グループ削除", group_path(group), method: :delete, data: {confirm: "本当に#{group.name}を削除しますか？"} %>
    </div>
  </div>
</div>
