<!-- グループ編集ページ -->
<div class="row edit_group_profile">
<!-- エラーメッセージ -->
  <%= render 'shared/error_message', something: @group %>

  <div class="col s12 m12 center" style="display: flex; justify-content: center; margin-top: 50px;">
    <%= form_with model: @group, local: true do |f| %>

      <div class="field center">
        <%= f.label :group_image %><br>
        <%= f.attachment_field :group_image %>
      </div>

      <div class="field" style="margin-top: 30px;">
        <%= f.label :name %><br>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="actions">
        <%= f.submit "保存", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
