
<h6>KPTグループ作成</h6>
<div class="row group_new">
  <div class="col">
    <%= form_with model: @group_new, lacol: true do |f| %>
      <%= f.label :group_image %>
      <div class="group_new_field">
        <%= f.attachment_field :group_image %>
      </div>
      <div class="group_new_field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="actions">
        <%= f.submit "次へ", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
