<!-- グループ詳細ページ -->
<div class="row">
  <div class="col s12 m3">
    <div class="card z-depth-0">
      <div class="card-image">
        <%= attachment_image_tag @group, :group_image, fallback: "no_group_image.jpg" %>
      </div>
      <div class="card-content center">
        <span class="card-title">
          <%= @group.name %>
        </span>
      </div>
      <div class="card-action flex center" style="justify-content: center;">
        <p>メンバー<%= @group_users.count %>人</p>
      </div>
<!-- グループ所属ユーザーのみ表示　-->
      <div class="card-action center">
        <i class="material-icons">dashboard</i>
        <%= link_to "#{@group.name}のKPT",  group_comments_path(@group)  %>
      </div>
      <div class="card-action center">
        <i class="material-icons">people</i>
        <%= link_to "メンバー追加", new_group_group_users_path(@group) %>
      </div>
    	<div class="card-action center">
  			<i class="material-icons">build</i>
  			<%= link_to "プロフィール編集", edit_group_path(@group) %>
  		</div>
  		<div class="card-action center">
  			<i class="material-icons">exit_to_app</i>
  			<%= link_to "グループ退会", group_group_users_path(@group), method: :delete, data: {confirm: "本当に#{@group.name}から退会しますか？"} %>
  		</div>
    </div>
  </div>


<!-- メンバー一覧 -->
<div class="col s12 m9">
  <div class="card-panel teal lighten-4 z-depth-0">
    <span class="white-text">
      <h6>参加メンバー</h6>
    </span>
  </div>
</div>

<div class="col s12 m9">
  <% @group_users.each do |user| %>
    <div class="card" style="width: 32%; display: inline-block;">
      <div class="card-image waves-effect waves-block waves-light">
        <%= attachment_image_tag user.user, :profile_image, fallback: "no_image.jpg" %>
      </div>
      <div class="card-content center" style="height: 115px;">
        <span class="card-title" style="border-bottom: solid 1px #ff7f50;">
          <%= user.user.nick_name %>
        </span>
        <%= user.user.introduction %>
      </div>
      <div class="card-action center">
        <% if current_user != user.user %>
          <% if user.user.followed_by?(current_user) %>
              <%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete, class: "btn" %>
          <% else %>
              <%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn" %>
          <% end %>
        <% else %>
          <%=link_to "マイページ", user_path(user), class: "btn" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
