<h3>Group詳細画面</h3>
<div class="row">
  <div class="col s12 center">
    <%= attachment_image_tag @group, :group_image, :fill, 350, 250, fallback: "no_group_image.jpg", size:'350x250' %><br>
    <%= @group.name %><br>
    <%= link_to "メンバー追加", new_group_group_users_path(@group) %>
    <%= link_to "グループ編集", edit_group_path(@group) %>
    <%= link_to "グループ退会", group_group_users_path(@group), method: :delete, data: {confirm: "本当に#{@group.name}から退会しますか？"}  %>
  </div>
</div>

<div class="row">
  <div class="group_user">
    <% @group_users.each do |group_user| %>
      <div class="col s2 center">
        <%= attachment_image_tag group_user.user, :profile_image, :fill, 120, 120, fallback: "no_image.jpg", size:'120x120' %><br>
        <%= group_user.user.nick_name %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col s12 actions center">
    <%= link_to "#{@group.name}のKPTをみる",  group_comments_path(@group) %>
  </div>
</div>
