<!-- グループ詳細ページ -->
<div class="row">
<!-- グループのプロフィール -->
  <%= render 'group_profile', group: @group, group_users: @group_users %>


  <!-- メンバー一覧 -->
  <div class="col s12 m9">
    <div class="card-panel teal lighten-4 z-depth-0">
      <span class="white-text">
        <h6>参加メンバー</h6>
      </span>
    </div>
  </div>

  <div class="col s12 m9">
    <% @group_users.each do |user| %>
      <div class="card" style="width: 32%; display: inline-block;">
        <div class="card-image waves-effect waves-block waves-light">
          <%= attachment_image_tag user.user, :profile_image, fallback: "no_image.jpg" %>
        </div>
        <div class="card-content center" style="height: 115px;">
          <span class="card-title" style="border-bottom: solid 1px #ff7f50;">
            <%= user.user.nick_name %>
          </span>
          <%= user.user.introduction %>
        </div>
        <div class="card-action center">
          <% if current_user != user.user %>
            <% if user.user.followed_by?(current_user) %>
                <%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete, class: "btn" %>
            <% else %>
                <%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn" %>
            <% end %>
          <% else %>
            <%=link_to "マイページ", user_path(user), class: "btn" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
