<!-- グループ一覧 -->
<div class="col s12 m9">
  <div class="card-panel teal lighten-4 z-depth-0">
    <span class="white-text">
      <h6>参加グループ(<%= join_groups.total_count %>)</h6>
        <% if is_notification.present? %> <!--グループに招待されているか -->
          <h7>招待が届いています(<%= invited_groups.total_count %>)</h7>
        <% end %>
    </span>
  </div>
</div>

<div class="col s12 m9">
  <% if is_notification.present? %> <!--グループに招待されているか -->
    <% invited_groups.each do |group_user| %>
      <div class="card" style="width: 32%; display: inline-block;">
        <div class="card-image waves-effect waves-block waves-light">
          <%= attachment_image_tag group_user.group, :group_image, :fill, 298, 298, fallback: "no_group_image.jpg" %>
        </div>
        <div class="card-content" style="height: 116px;">
          <span class="card-title activator grey-text text-darken-4">
            <%= group_user.group.name %>
          </span>
          <p class="center">
            <%= link_to "参加", group_group_users_path(group_user.group.id), method: :put, class: "btn" %>
            <%= link_to "不参加", group_group_users_path(group_user.group.id), method: :delete, data: {confirm: "本当に参加しませんか？"}, class: "btn" %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>

  <% join_groups.each do |group_user| %>
    <div class="card" style="width: 32%; display: inline-block;">
      <div class="card-image waves-effect waves-block waves-light">
        <%= attachment_image_tag group_user.group, :group_image, :fill, 298, 298, fallback: "no_group_image.jpg" %>
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4" style="border-bottom: solid 1px #ff7f50;">
          <%= group_user.group.name %>
      <!-- ログインユーザーのみ -->
      <% if user.id == current_user.id %>
          <i class="material-icons right">
            more_vert
          </i>
      <% end %>
        </span>
      <% if user.id == current_user.id %>
          <p class="center" style="width: 100px; background-color: #f8bbd0; border-radius: 20px;">
            参加中
          </p>
      <% end %>
      </div>
      <% if user.id == current_user.id %>
        <div class="card-reveal center">
          <span class="card-title grey-text text-darken-4" style="border-bottom: solid 1px #ff7f50;">
            <%= group_user.group.name %>
            <i class="material-icons right">close</i>
          </span>
          <div class="actions" style="margin-top: 30px;">
            <%= link_to "KPTをみる",  group_comments_path(group_user.group.id) %>
          </div>
          <div class="actions" style="margin-top: 10px;">
            <%= link_to "グループメンバー", group_path(group_user.group.id) %>
          </div>
          <div class="actions" style="margin-top: 10px;">
            <%= link_to "グループ編集", edit_group_path(group_user.group.id) %>
          </div>
          <div class="actions" style="margin-top: 10px;">
            <%= link_to "グループ退会", group_group_users_path(group_user.group.id), method: :delete, data: {confirm: "本当に#{group_user.group.name}から退会しますか？"} %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <!-- ページネーション -->
  <%= paginate invited_groups, :param_name => 'invited_group', class: "paginate", remote: true %>
  <%= paginate join_groups, :param_name => 'join_group', class: "paginate", remote: true %>
</div>
