<!-- ユーザープロフィール -->
<div class="col s12 m3">
  <div class="card">
    <div class="card-image">
      <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg" %>
      <span class="card-title">
      	<% if user == current_user %>
					<%= user.name %>
				<% end %>
      </span>
    </div>
    <div class="card-content center">
      <span class="card-title">
        <%= user.nick_name %>
      </span>
			<%= user.introduction %>
    </div>
    <div class="card-action center">
      <p>
        <%= link_to user_follows_path(user) do %>
				  <%= user.followings.count %><br>
			  <% end %>
        フォロー
      </p>
      <p>
        <%= link_to user_followers_path(user) do %>
			  <%= user.followers.count %><br>
		    <% end %>
        フォロワー
      </p>
    </div>
    <div class="card-action center">
      <a href="#">お仲間一覧</a>
    </div>
    <div class="card-action center">
      <a href="#">KPT作成</a>
    </div>
		<% if user == current_user %><!-- ログインユーザーのみ表示　-->
    	<div class="card-action center">
				<i class="material-icons">person</i>
				<%= link_to "プロフィール編集", edit_user_path(user), style: "white" %>
			</div>
			<div class="card-action center">
				<i class="material-icons">exit_to_app</i>
				<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
			</div>
		<% end %>
  </div>
</div>
