<!-- ユーザープロフィール -->
<div class="col s12 m3">
  <div class="card z-depth-0">
    <div class="card-image">
      <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg" %>
      <span class="card-title">
      	<% if user == current_user %>
					<%= user.name %>
				<% end %>
      </span>
    </div>
    <div class="card-content center">
      <span class="card-title">
        <%= user.nick_name %>
      </span>
			<%= user.introduction %>
    </div>

    <% if user.id == current_user.id %><!-- ログインユーザーのみ表示　-->
      <div class="card-action flex center" style="justify-content: center;">
        <p>
          <%= link_to user_friends_path(user) do %>
  				  <%= user.followings.count %><br>
  			  <% end %>
          フォロー
        </p>
        <p>
          <%= link_to user_friends_path(user) do %>
  			  <%= user.followers.count %><br>
  		    <% end %>
          フォロワー
        </p>
      </div>
      <div class="card-action center">
        <i class="material-icons">pets</i>
        <%= link_to "マイページ", user_path(user) %>
      </div>
      <div class="card-action center">
        <i class="material-icons">person_add</i>
        <%= link_to "お仲間追加", result_users_path %>
      </div>
      <div class="card-action center">
        <i class="material-icons">people</i>
        <%= link_to "チーム作成", new_group_path %>
      </div>
    	<div class="card-action center">
				<i class="material-icons">build</i>
				<%= link_to "編集", edit_user_path(user), style: "white" %>
			</div>
			<div class="card-action center">
				<i class="material-icons">exit_to_app</i>
				<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
			</div>
		<% else %>
      <div class="card-action center">
        <%= render 'shared/follow_button', user: user %>
      </div>
    <% end %>
  </div>
</div>
