<!-- ユーザープロフィール -->
<table class="table">
		<tr>
      <%= attachment_image_tag user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg", size:'200x200' %>
    </tr>
		<tr>
			<th>ユーザー名</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>ニックネーム</th>
      <td><%= user.nick_name %></td>
    </tr>
    <tr>
      <th>ステータスメッセージ</th>
      <td><%= user.introduction %></td>
    </tr>
</table>
<!-- ログインユーザーのみ表示　-->
<% if user == current_user %>
	<div class="actions">
		<%= link_to "プロフィール編集", edit_user_path(@user) %>
	</div>
	<div class="actions">
		<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
	</div>
<% end %>
