<!-- お仲間ページ -->
<div class="row">
  <%= render 'profile', user: @user %>

  <div class="col s12 m9">
    <div class="card-panel teal lighten-3">
      <span class="white-text">
        <h6>お仲間</h6>
      </span>
    </div>
  </div>

  <% @following_users.each do |user| %>
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg" %>
        </div>
        <div class="card-content center">
          <span class="card-title activator grey-text text-darken-4">
            <%= user.nick_name %>
          </span>
          <%= user.introduction %>
        </div>
        <div class="card-action center">
          <% if user.followed_by?(current_user) %>
              <%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete, class: "btn" %>
          <% else %>
              <%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
