<!-- お仲間ページ -->
<div class="row">
<!-- ログインユーザープロフィール -->
  <%= render 'profile', user: @user %>

  <div class="col s12 m9">
    <div class="card-panel teal lighten-4 z-depth-0">
      <span class="white-text">
        <h6>お仲間</h6>
      </span>
    </div>
  </div>
<!-- タブメニュー -->
  <div class="col s12 m9">
    <ul class="tabs tabs-fixed-width tab-demo z-depth-0">
      <li class="tab">
        <a href="#followings">フォロー(<%= @following_users.total_count %>)</a>
      </li>
      <li class="tab">
        <a href="#followers">フォロワー(<%= @follower_users.total_count %>)</a>
      </li>
    </ul>
  </div>
  <!-- フォロー -->
  <div id="followings" class="col s9 m9"><!-- タブ表示の為のid -->
    <%= render 'shared/user_lists', users: @following_users %>
  </div>
  <!-- フォロワー -->
  <div id="followers" class="col s12 m9">
    <%= render 'shared/user_lists', users: @follower_users %>
  </div>

</div>
