<h5>お仲間追加</h5>
<div class="row">
  <div class="search_form">
    <div class="form">
      <%= search_form_for @q, url: result_users_path  do |f| %>
        <%= f.label :nick_name %>
         <!-- nameカラムの単語の一部分を含むものを検索 -->
        <%= f.search_field :nick_name_cont %>
        <%= f.submit "検索", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
    <!-- 検索結果 -->
    <%= render 'member', users: @search_users %>
</div>
