<h3>メンバー追加ページ</h3>
<div class="row">
  <div class="col s6">
    <div class="search-form">
      <%= search_form_for @q, url: result_users_path  do |f| %>
        <%= f.label :nick_name %>
         <!-- nameカラムの単語の一部分を含むものを検索 -->
        <%= f.search_field :nick_name_cont %>
        <%= f.submit "検索", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
    <!-- 検索結果 -->
    <% @search_users.each do |user| %>
      <div class="col">
        <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size:'100x100' %><br>
        <%= user.nick_name %><br>
        <%= user.introduction %>
        <p>参加KPT数</p>
        <% if current_user != user %>
          <% if user.followed_by?(current_user) %>
              <p><%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete, class: "btn" %></p>
          <% else %>
              <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn" %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
</div>
