
<h3>マイページ</h3>
<div class="row">
  <div class="col center">
    <!-- ユーザープロフィール -->
    <%= render 'profile', user: @user %>
  </div>
</div>
<!-- ここからはcurrent_userのみ -->
<% if @user == current_user %>
  <div class="row">

    <% if @is_notification.present? %> <!--グループに招待されているか -->
      <div class="col s6">
        <p>招待されているグループ</p>
        <% @invited_groups.each do |group| %>
          <%= link_to group_path(group.group) do %>
            <%= attachment_image_tag group.group, :group_image, :fill, 150, 150, fallback: "no_group_image.jpg", size:'150x150' %>
            <%= group.group.name %>
            <%= link_to "参加", group_group_users_path(group), method: :put %>
            <%= link_to "不参加" %>
          <% end %>
        <% end %>
      <% end %>

      <p>参加グループ</p>
      <% @join_groups.each do |group| %>
        <%= link_to group_path(group.group) do %>
          <%= attachment_image_tag group.group, :group_image, :fill, 150, 150, fallback: "no_group_image.jpg", size:'150x150' %>
          <%= group.group.name %>
        <% end %>
      <% end %>
    </div>

    <p>メンバー</p>
    <div class="col s6">
      <%= render 'search', users: @follow_users %>
    </div>
  </div>
<% end %>
<!-- ここまで -->
  <p>サイト退会リンク</p>
