
<h3>マイページ</h3>
<div class="row">
  <div class="col center">
    <!-- ユーザープロフィール -->
    <%= render 'profile', user: @user %>
  </div>
</div>
<!-- ここからはcurrent_userのみ -->
<% if @user == current_user %>
  <div class="row">
    <div class="col s6">
      <p>参加グループ</p>
      <% @join_groups.each do |join_group| %>
        <%= link_to group_path(join_group.group) do %>
          <%= attachment_image_tag join_group.group, :group_image, :fill, 150, 150, fallback: "no_group_image.jpg", size:'150x150' %>
          <%= join_group.group.name %>
        <% end %>
      <% end %>
    </div>

    <p>メンバー</p>
    <div class="col s6">
      <%= render 'search', users: @follow_users %>
    </div>
  </div>
<% end %>
<!-- ここまで -->
  <p>サイト退会リンク</p>
