<!-- エラーメッセージ -->
<%= render 'shared/error_message', something: group %>
<div class="col s12 l12">
  <%= form_with model: group, local: true do |f| %>
    <div class="field">
      <%= f.label :group_image %><br>
      <%= f.attachment_field :group_image, class: "mt-2" %>
    </div>
    <div class="field mt-3">
      <%= f.label :name %><br>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    <div class="actions mt-5">
      <%= f.submit "保存", class: "btn-large col s12 l12" %>
    </div>
  <% end %>
</div>
