<nav>
  <div class="nav-wrapper">
    <%= link_to root_path do %>
      <%= image_tag 'kpt_image.png', alt: "KPTAAALK icon", class: "brand-logo center" %>
    <% end %>
    <ul class="right hide-on-med-and-down">
      <li class="nav-link">
        <%= link_to "トップページ", root_path %>
      </li>
      <li class="nav-link">
        <%= link_to "ログイン", new_user_session_path %>
      </li>
      <li class="nav-link">
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
    </ul>
  </div>
</nav>
