<div class="row bt-white mt-10 mb-5">
  <div class="col s12 l12 d-flex justify-content-center">
    <%= image_tag 'kpt_image.png', alt: "KPTAAALK icon", size:'300x300' %>
    <span class="align-self-center pt-5 font-weight-bold">の使い方</span>
  </div>
</div>

<div class="row">
  <div class="col s12 l5 center">
    <%= image_tag 'top_image1.png', alt: "team icon", size:'200x200' %>
  </div>
  <div class="col s12 l7 d-flex justify-content-center mt-5">
    <h6 class="white-text line-height font-weight-bold">
      KPTを一緒にしたいお仲間を検索して、<br>
      見つけたら、フォローしましょう。<br>
      <span class="teal-text">※フォローしていないお仲間はチームに招待できません！</span>
    </h6>
  </div>
</div>

<div class="row mt-10">
  <div class="col s12 l7 d-flex justify-content-center">
    <h6 class="white-text line-height font-weight-bold">
      チーム作成ボタンから、チーム名、画像を入力して<br>
      フォローしたお仲間を<span class="teal-text">招待</span>しましょう。<br>
      これでKPTを始める準備が完了しました！
    </h6>
  </div>
  <div class="col s12 l5 center mt-5">
    <%= image_tag 'top_image3.png', alt: "team icon", size:'200x200' %>
  </div>
</div>

<div class="row mt-10">
  <div class="col s12 l5 center">
    <%= image_tag 'top_image4.png', alt: "team icon", size:'200x200' %>
  </div>
  <div class="col s12 l7 d-flex justify-content-center mt-5">
    <h6 class="white-text line-height font-weight-bold">
      招待されたお仲間にはヘッダーのアイコン横に<br>
      <span class="teal-text">電球マーク</span>が灯ります。<br>
      マイページで招待されたグループに<br>
      参加する、参加しないかを選択してください。
    </h6>
  </div>
</div>

<div class="row mt-10">
  <div class="col s12 l7 d-flex justify-content-center">
    <h6 class="white-text line-height font-weight-bold">
      チームに参加できたら、KPTを始めましょう！<br>
      投稿した内容は<span class="teal-text">ドラッグ&ドロップ</span>で移動ができます。<br>
      大切なのは、<br>
      KPTをすることが目的にならない様にすることです。<br>
      <span class="teal-text">本質的な目的は物事やチームをより円滑にすること</span>です。
    </h6>
  </div>
  <div class="col s12 l5 center mt-5">
    <%= image_tag 'top_image5.png', alt: "team icon", size:'230x230' %>
  </div>
</div>

<div class="row mt-10">
  <div class="col s12 l5 center">
    <%= image_tag 'top_image6.png', alt: "team icon", size:'300x200', style: "object-fit: contain;" %>
  </div>
  <div class="col s12 l7 d-flex justify-content-center mt-5">
    <h6 class="white-text line-height font-weight-bold">
      KPTは<span class="teal-text">継続すること</span>が大切です。<br>
      継続することでチームの雰囲気や物事の効率を高められ、<br>
      個人でのモチベーションの向上につながります。
    </h6>
  </div>
</div>
