<!-- KPTの使い方 -->
<div class="row">
  <div class="col s12 m12 center flex" style="justify-content: center; border-top: solid 1px white; margin-top: 150px; margin-bottom: 100px;">
    <%= image_tag 'kpt_image.png', alt: "KPTAAALK icon", size:'250x250' %>
    <span style="line-height: 295px;">の使い方</span>
  </div>
</div>

<div class="row" style="margin-bottom: 200px;">
  <div class="col s6 m6 center">
    <%= image_tag 'top_image1.png', alt: "team icon", size:'200x200' %>
  </div>
  <div class="col s6 m6 center" style="color: white; padding-top: 50px;">
    <p>
      KPTを一緒にしたいお仲間を検索して、<br>
      見つけたら、フォローしましょう。<br>
      <span style="color: #4db6ac;">※フォローしていないお仲間はチームに招待できません！</span>
    </p>
  </div>
</div>

<div class="row" style="margin-bottom: 200px;">
  <div class="col s6 m6 center" style="color: white; padding-top: 60px;">
    <p>
      チーム作成ボタンから、チーム名、画像を入力して<br>
      フォローしたお仲間を<span style="color: #4db6ac;">招待</span>しましょう。<br>
      これでKPTを始める準備が完了しました！
    </p>
  </div>
  <div class="col s6 m6 center">
    <%= image_tag 'top_image3.png', alt: "team icon", size:'200x200' %>
  </div>
</div>

<div class="row" style="margin-bottom: 200px;">
  <div class="col s6 m6 center">
    <%= image_tag 'top_image4.png', alt: "team icon", size:'200x200' %>
  </div>
  <div class="col s6 m6 center" style="color: white; padding-top: 60px;">
    <p>
      招待されたお仲間にはヘッダーのアイコン横に<br>
      <span style="color: #4db6ac;">電球マーク</span>が灯ります。<br>
      マイページで招待されたグループに<br>
      参加する、参加しない、かを選択してください。
    </p>
  </div>
</div>

<div class="row" style="margin-bottom: 200px;">
  <div class="col s6 m6 center" style="color: white; padding-top: 30px;">
    <p>
      チームに参加できたら、KPTを始めましょう！<br>
      投稿した内容は<span style="color: #4db6ac;">ドラッグ&ドロップ</span>で移動ができます。<br>
      大切なのは、<br>
      KPTをすることが目的にならない様にすることです。<br>
      <span style="color: #4db6ac;">本質的な目的は物事やチームをより円滑にすること</span>です。
    </p>
  </div>
  <div class="col s6 m6 center">
    <%= image_tag 'top_image5.png', alt: "team icon", size:'230x230' %>
  </div>
</div>

<div class="row" style="margin-bottom: 200px;">
  <div class="col s6 m6 center">
    <%= image_tag 'top_image6.png', alt: "team icon", size:'300x200', style: "object-fit: contain;" %>
  </div>
  <div class="col s6 m6 center" style="color: white; padding-top: 80px;">
    <p>
      KPTは<span style="color: #4db6ac;">継続すること</span>が大切です。<br>
      それによりチームの雰囲気や物事の効率を高められたり、<br>
      個人でのモチベーションの向上につながります。
    </p>
  </div>
</div>
