<!-- トップページ且アバウトページ -->
<div class="row">
  <div class="col s12 m6">
    <%= image_tag 'kpt_image.png', alt: "KPTAAALK icon", size:'600x600', style: "object-fit: cover;" %>
  </div>
  <div class="col s12 m6 center login_sigin_actions">
    <%= link_to "新規登録", new_user_registration_path, class: "signin_actions" %>
    <%= link_to "ログイン", new_user_session_path, class: "login_actions" %>
  </div>
</div>
<!-- KPTの説明 -->
<div class="row">
  <div class="col s12 m12 center" style="color: white;">
    <h5>KPTとは</h5>
  </div>
  <div class="col s12 m12 center" style="color: white;">
    <h6>「ふりかえり」のフレームワークです。</h6>
    <h6>
      「<span style="color: #f48fb1;">K</span>eep」継続すること
      「<span style="color: #ffb74d;">P</span>roblem」改善すること
      「<span style="color: #64b5f6;">T</span>ry」新しく取り組むこと
    </h6>
    <h6>を考えることで次にやることが明確になります。</h6>
  </div>
</div>
<!-- KPTの使い方 -->
<%= render 'about' %>
<!-- KPTでのポイント -->
<%= render 'kpt_important' %>
<!-- サイトについての思い -->
<%= render 'thought' %>
