<div class="row d-flex f-warp justify-content-center">
  <%= image_tag 'kpt_image.png', alt: "KPTAAALK icon", size:'500x500', class:"object-fit-cover" %>
  <div class="col s12 m6 align-self-center center" style="margin-left: 0;">
    <% if user_signed_in? %>
      <%= link_to "ログイン中", user_path(current_user), class: "p-2 devise_actions"  %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path, class: "p-2 devise_actions" %>
      <%= link_to "ログイン", new_user_session_path, class: "p-2 devise_actions" %>
    <% end %>
  </div>
</div>


<!-- KPTの説明 -->
<div class="row mt-10">
  <div class="col s12 l12 center">
    <h5 class="white-text font-weight-bold">KPTとは</h5>
  </div>
  <div class="col s12 l12 center white-text">
    <h6>「ふりかえり」のフレームワークです。</h6>
    <h6>
      「<span class="red-text">K</span>eep」継続すること
      「<span class="orange-text">P</span>roblem」改善すること
      「<span class="blue-text">T</span>ry」新しく取り組むこと
    </h6>
    <h6>を考えることで次にやることが明確になります。</h6>
  </div>
</div>
<!-- KPTの使い方 -->
<%= render 'about' %>
<!-- KPTでのポイント -->
<%= render 'point' %>
<!-- サイトについての思い -->
<%= render 'thought' %>
