<!-- トップページ且アバウトページ -->
<div class="row">
  <div class="col s12 m6">
    <%= image_tag 'kpt_image.png', alt: "KPTAAALK icon", size:'600x550' %>
  </div>

  <div class="col s12 m6 center login_sigin_actions">
    <%= link_to "新規登録", new_user_registration_path, class: "signin_actions" %>
    <%= link_to "ログイン", new_user_session_path, class: "login_actions" %>
  </div>
</div>

<div class="row">
  <div class="col s12 m12" style="background-color: white; border-radius: 40px; height: 300px; margin-top: 20px;">
    <%= image_tag 'kpt_image.png', alt: "KPTAAALK icon", size:'150x150' %>
    <span>の使い方</span>
  </div>
</div>

<div class="row center" style="background-color: #80cbc4; border-radius: 40px; height: 600px;">
  <div class="col s4">
    <%= image_tag 'top_image3.png', alt: "team icon", size:'150x150' %>
  </div>
  <div class="col s4">
    <%= image_tag 'top_image2.png', alt: "team icon", size:'150x150' %>
  </div>
  <div class="col s4">
    <%= image_tag 'top_image4.png', alt: "team icon", size:'150x150' %>
  </div>
</div>
