
<!-- それなボタンを押しているか-->
<% if comment.righted_by?(current_user) %>
  <%= link_to group_comment_rights_path(comment_id: comment.id), method: :delete, remote: true do %>
    <i class="material-icons red-text mt-1">thumb_up</i>
    <span class="rights_count" name="<%= comment.rights.count %>">
      <%= comment.rights.count %>
    </span> ｿﾚﾅ
  <% end %>
<% else %>
  <%= link_to group_comment_rights_path(comment_id: comment.id), method: :post, remote: true do %>
    <i class="material-icons grey-text mt-1">thumb_up</i>
    <span class="rights_count" name="<%= comment.rights.count %>">
      <%= comment.rights.count %> ｿﾚﾅ
    </span>
  <% end %>
<% end %>
