<div class="row flex">
  <div class="col m4 center center-block">
      <h4 class="border">ログイン</h4>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.text_field :nick_name, autofocus: true, autocomplete: "nick_name", placeholder: "ニックネーム" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :ログイン状態を保存する %>
          </div>
        <% end %>

        <div class="actions" style="margin: 10px 0 10px 0;">
          <%= f.submit "ログイン", class: "btn" %>
        </div>
      <% end %>

      <div class="actions" style="margin-bottom: 10px;">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.hidden_field :nick_name, value: "KPT太郎" %>
          <%= f.hidden_field :password, value: "kptaaalk" %>
          <%= f.submit "テストユーザーとして簡単ログイン", class:"btn"%>
        <% end %>
      </div>

      <%= render "devise/shared/links" %>
  </div>
</div>
