

<% if user_signed_in? %>
  <!-- ログイン時、ドロップダウン子メニュー -->
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to "マイページ", user_path(current_user) %></li>
    <li><%= link_to "KPT作成", new_group_path %></li>
    <li><a href="#!">メンバー追加</a></li>
    <li><%= link_to "使用方法", about_path %></li>
    <li class="divider"></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  </ul>
<% else %>
  <!-- 未ログイン時、ドロップダウン子メニュー -->
  <ul id="dropdown2" class="dropdown-content">
    <li><%= link_to "トップページ", root_path %></li>
    <li><%= link_to "使用方法", about_path %></li>
    <li><%= link_to "ログイン", new_user_session_path %></li>
    <li><%= link_to "サインイン", new_user_registration_path %></li>
  </ul>
<% end %>
