<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <!-- root以外対象 -->
    <% if request.path != '/' %>
      <header class="mb-5">
        <% if user_signed_in? %>
          <!-- ユーザーサインイン時 -->
          <%= render 'shared/login_header' %>
        <% else %>
          <!-- ユーザーサインアウト時 -->
          <%= render 'shared/signout_header'%>
        <% end %>
      </header>
    <% end %>

    <% if request.path == '/' %>
      <main style="background-color: #b2dfdb">
        <div id="scroll_icon">
          <p> ＜＜　　 SCROLL</p>
        </div>
    <% else %>
      <main>
    <% end %>
        <div class="container">
          <!-- フラッシュメッセージ -->
          <div class="row">
            <% if flash[:notice] %>
              <div class="grey-text"><%= flash[:notice] %></div>
            <% end %>
          </div>

          <%= yield %>
        </div>
      </main>

      <!-- rootの場合 -->
      <% if request.path == '/' %>
        <footer class="root-footer center pb-1">
      <% else %>
        <!-- root以外 -->
        <footer class="main-footer center pb-1 mt-5">
      <% end %>
          <div class="container">
            KPTAAALK
          </div>
        </footer>

      <!-- ページトップに戻るボタン -->
      <div id="page_top">
        <%= image_tag 'arrow.png', alt: "page_top icon", size: "60x60" %>
      </div>

  </body>
</html>
