<!DOCTYPE html>
<html>
  <head>
    <title>Kptaaalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <!-- ユーザーサインイン時 -->
        <%= render 'layouts/login_header' %>
      <% else %>
        <!-- ユーザーサインアウト時 -->
        <%= render 'layouts/signout_header'%>
      <% end %>
    </header>

    <!-- Aboutページのみ -->
    <% if request.path == '/' %>
      <div style="background-color: #b2dfdb">
    <% end %>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

  <!-- Aboutページのみ -->
  <% if request.path == '/' %>
    <footer class="page-footer center" style="color: #80cbc4; background-color: #b2dfdb">
  <% else %>
    <footer class="page-footer center" style="color: #cfd8dc; background-color: white">
  <% end %>
      <div class="container">
        KPTAAALK
      </div>
    </footer>
  </body>
</html>
