<!DOCTYPE html>
<html>
  <head>
    <title>Kptaaalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render 'layouts/login_header' %>
      <% else %>
        <%= render 'layouts/signout_header'%>
      <% end %>
    </header>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer class="page-footer center">
        <div class="container">
          KPTAAALK
        </div>
    </footer>
  </body>
</html>
